*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 1.6;
}

.btn {
  font-weight: 400;
  display: inline-block;
  margin-right: 10px;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
          box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #3E8CE6;
}

.inverted {
  background-color: #3E8CE6;
  color: #fff;
}

.inverted:hover {
  background-color: #E8E800;
  color: #000;
}

hr {
  margin-bottom: 30px;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*
0-600PX: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
[1200-1800]: Desktop (Normal Styles)
1800px +: Big Desktop
*/
.header-page {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../assets/test.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/test.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header-page nav {
  text-align: right;
}

.header-page nav ul {
  width: 100%;
  list-style: none;
  padding: 50px 140px;
  position: fixed;
}

.header-page nav ul li {
  display: inline-block;
  position: relative;
}

.header-page nav ul li .underline {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
  position: relative;
}

.header-page nav ul li .underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  background: #3E8CE6;
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}

.header-page nav ul li .underline:hover::after {
  width: 50%;
  left: 50%;
  background: #3E8CE6;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header-page .introduction {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  margin-left: 140px;
}

.header-page .introduction a {
  text-decoration: none;
}

.header-page .introduction h6 {
  color: #E8E800;
  font-size: 1rem;
}

.header-page .introduction h3 {
  font-size: 1.25rem;
}

.header-page .introduction h3 span {
  color: #3E8CE6;
}

.header-page .introduction h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

/*
0-600PX: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
[1200-1800]: Desktop (Normal Styles)
1800px +: Big Desktop
*/
.about-page {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.about-page .section-header {
  text-align: center;
  margin-bottom: 30px;
}

.about-page .section-header h2 {
  font-size: 1.5rem;
  color: #000;
  text-transform: uppercase;
}

.about-page .about-box {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.about-page .about-box img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.about-page .about-box p {
  text-align: left;
  margin-bottom: 10px;
}

.about-page .about-box p span {
  color: #3E8CE6;
  font-weight: 700;
}

/*
0-600PX: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
[1200-1800]: Desktop (Normal Styles)
1800px +: Big Desktop
*/
.portfolio-page {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.portfolio-page .section-header {
  text-align: center;
  margin-bottom: 30px;
  margin-bottom: 60px;
}

.portfolio-page .section-header h2 {
  font-size: 1.5rem;
  color: #000;
  text-transform: uppercase;
}

.portfolio-page .portfolio-box {
  text-align: center;
  display: inline-block;
  width: 33%;
}

.portfolio-page .portfolio-box img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.portfolio-page .portfolio-box img:hover {
  cursor: pointer;
}

/*
0-600PX: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
[1200-1800]: Desktop (Normal Styles)
1800px +: Big Desktop
*/
.contact-page {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  width: 100%;
  height: 70vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../assets/test.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/test.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-page .section-header {
  text-align: center;
  margin-bottom: 30px;
}

.contact-page .section-header h2 {
  font-size: 1.5rem;
  color: #000;
  text-transform: uppercase;
}

.contact-page .section-header h2 {
  color: #fff;
}

.contact-page .contact-box {
  padding: 135px 0;
  width: 33%;
  display: inline-block;
  color: #fff;
  text-align: center;
}

.contact-page .contact-box .fas {
  font-size: 2rem;
  color: #E8E800;
}

.contact-page .contact-box h5 {
  padding-top: 40px;
  font-size: 1.25rem;
}

/*
0-600PX: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
[1200-1800]: Desktop (Normal Styles)
1800px +: Big Desktop
*/
.footer {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer span {
  display: inline-block;
  margin-right: 50px;
}

.footer nav {
  text-align: right;
  display: inline-block;
  width: 30%;
}

.footer nav ul {
  width: 100%;
  list-style: none;
}

.footer nav ul li {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.footer nav ul li a {
  text-decoration: none;
}

.footer nav ul li a .fab {
  font-size: 1.5rem;
}

.footer nav ul li a .fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer nav ul li a .fa-linkedin {
  color: #00a0dc;
}

.footer nav ul li a .fa-github {
  color: #333;
}

.footer nav ul li a .fa-facebook {
  color: #3b5998;
}
/*# sourceMappingURL=main.css.map */