@import '../abstracts/variables';
@import '../mixins/mixin';

.about-page{
    @include new-page;
    text-align: center;
    .section-header{
        @include header;

        @include respond(tab-land){
            h2{
                font-size: 1rem;
            }
        }
    }

    .about-box{
        display: inline-block;
        width: 40%;
        text-align: center;
        img{
            width: 18.75rem;
            height: 18.75rem;
            border-radius: 50%;
            @include respond(tab-land){
                width: 15rem;
                height: 15rem;
            }

            @include respond(tab-port){
                position: relative;
                top: -2.5rem;
            }

            @include respond(phone){
                width: 10rem;
                height: 10rem;
                margin-top: 1.875rem;
            }
        }
        p{
            text-align: left;
            margin-bottom: 0.625rem;
            span{
                color: $color-primary;
                font-weight: 700;
            }
            @include respond(tab-land){
                font-size: 0.75rem;
            }
        }
        @include respond(tab-port){
            margin-left: 3rem;
        }
        @include respond(phone){
            width: 100%;
            display: block;
            margin-left: 0;
        }
    }
}