@import '../abstracts/variables';
@import '../mixins/mixin';

.about-page{
    @include new-page;
    .section-header{
        @include header;
    }

    .about-box{
        display: inline-block;
        width: 40%;
        text-align: center;
        img{
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
        p{
            text-align: left;
            margin-bottom: 10px;
            span{
                color: $color-primary;
                font-weight: 700;
            }
        }
    }
}