@import '../mixins/mixin';

.footer{
    @include new-page;
    margin-bottom: 1.875rem;
    span{
        display: inline-block;
        margin-right: 3.125rem;
    }
    nav{
        text-align: right;
        display: inline-block;
        width: 30%;
        ul{
            @include navbar;
            li{
                display: inline-block;
                position: relative;
                padding: 0 .625rem;
               a{
                    text-decoration: none;
                    @include social;
                }
            }
        }

    }
}