@import '../mixins/mixin';

.landing-page{
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)),
    url(../assets/test.jpg);
    @include parallax;
    
    nav{
        text-align: right;
        
        .scrolled{
            background-color: rgba(0,0,0,0.8);
            padding: 1.875rem 8.75rem;
            z-index: 100;
        }
        ul{
            @include navbar;
            padding: 3.125rem 8.75rem;
            position: fixed;
            top: 0;
            overflow: hidden;
            transition: .3s ease;
            z-index: 100;
            li{
                display: inline-block;
                position: relative;
                
                .underline{
                    color: $color-white;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0 1.25rem;

                    position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 3px;
                        display: block;
                        margin-top: 5px;
                        right: 50%;
                        transform: translate(50%);
                        background: $color-primary;
                        transition: width .3s ease;
                        -webkit-transition: width .3s ease;
                    }

                    &:hover::after{
                        width: 50%;
                        left: 50%;
                        background: $color-primary;
                        transform: translate(-50%);
                    }
                }
            }
            @include respond(tab-land){
                font-size: 0.8rem;
            }
            @include respond(tab-port){
                text-align: center;
            }
            @include respond(phone){
                display: none;
            }
        }
    }

    .introduction{
        color: $color-white;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 40%;
        margin-left: 8.75rem;
        display: block;
        width: 100%;

        h6{
            color: $color-secondary;
            font-size: 1rem;
            @include respond(tab-land){
                font-size: .8rem;
            }

            @include respond(tab-port){
                visibility: hidden;
            }
            
        }

        h3{
            font-size: 1.25rem;
           
            span{
                color: $color-primary;
            }

            @include respond(tab-land){
                font-size: 1rem;
            }
            @include respond(phone){
                font-size: .75rem;
            }
        }
        
        h2{
            font-size: 2rem;
            margin-bottom: 1.875rem;
            
            @include respond(tab-land){
                font-size: 1.5rem;
            }
            @include respond(phone){
                font-size: 1rem;
            }
        }
        
        a{
            text-decoration: none;
        }
        
        @include respond(tab-port){
            text-align: center;
            margin: 0 auto;
        }
        @include respond(phone){
            display: block;
            margin: auto;
            position: relative;
        }
    }
    @include respond(phone){
        height: 70vh;
    }
}