@import '../abstracts/variables';
@import '../mixins/mixin';

.portfolio-page{
    @include new-page;
    margin-bottom: 6.25rem;
    .section-header{
        @include header;
        margin-bottom: 3.75rem;
    }

    .portfolio-box{
        text-align: center;
        display: inline-block;
        width: 33%;

        img{
            max-width: 70%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            
            &:hover{
                cursor: pointer;
            }
        }
    }
}